/*___________________________*/
/*        HEADER             */
/*___________________________*/

/*_______ NAVEBAR __________*/

@media screen and (max-width: 630px) {
    /*_______ Menu HAMBURGUER __________*/
    header nav#nav-esq{
        justify-content: space-between;
    }

    header nav#nav-esq ul#icone-menu{
        display: flex;
    }

    /*_______ Menu HAMBURGUER __________*/

    header nav#nav-esq ul#menu-principal{
        flex-direction: column;
        width: 80%;
        height: 85vh;
        background: linear-gradient(rgba(4,157,217) 0%, rgba(54,176,224) 45%, rgba(60, 179, 113, .9) 100%);
        padding-top: .5rem;
        position: absolute;
        top: 9.3rem;
        right: 0;
        z-index: 999;

        display: none;
    }

    header nav#nav-esq ul#menu-principal li{
        margin: .5rem;
        margin-left: 1rem;
    }

    header nav#nav-esq ul#menu-principal li a{
        font-size: 120%;
    }
}